@page "/"
<PageTitle>Inicio</PageTitle>

<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">¡Bienvenido a la Web de Ejercicios!</h1>

    <div class="row text-center">
        <div class="col-md-6">
            <h2 class="text-secondary">Explora Ejercicios</h2>
            <p class="lead">
                En nuestra web, encontrarás una variedad de ejercicios diseñados para desafiar tus habilidades y mejorar tu comprensión de diversos conceptos.
                Desde problemas matemáticos hasta desafíos de programación, hay algo para todos.
            </p>
            <a href="/ejercicio/1" class="btn btn-primary btn-lg">Comienza Aquí</a>
        </div>
        <div class="col-md-6">
            <h2 class="text-secondary">¿Cómo Funciona?</h2>
            <p class="lead">
                Navega por los ejercicios utilizando el menú principal. Cada ejercicio está diseñado para ser interactivo y educativo.
                Resuelve los problemas directamente en la web y obtén retroalimentación instantánea sobre tus soluciones.
            </p>
        </div>
    </div> 
</div>

<style>
    .container {
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
    }
</style>
